@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  
  html,
  body {
    touch-action: pan-x pan-y; /* Отключает масштабирование при использовании жестов */
    height: 100%; /* Ensure the html and body take up full height */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    overflow: hidden; /* Prevent scrolling */
    @apply bg-roman-black text-roman-gold font-roman;
  }

  .font-roman {
    font-family: 'Cinzel', serif;
  }